<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_de_persona %><br>
    <%= f.select(:kind_person) do %>
      <% option = [ ["Selleccione...", ""], ["fisica", "fisica"], ["juridica", "juridica"]  ] %>
      <%= options_for_select(option) %>
    <% end %>

  </div>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :fecha_de_nacimiento %><br>
     <%= f.date_select(:birthday, { start_year: 1900, end_year: Date.today.year }) %>
  </div>
  <div class="field">
    <%= f.label :genero %><br>
    <%= f.select(:gender) do %>
      <% array = [ ["Seleccione...", ""], ["Masculino", "Masculino"], ["Femenino", "Femenino"] ] %>
      <%= options_for_select(array) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :tipo_doc %><br>
    <%= f.select(:kind_document) do %>
      <% array = [ ["Seleccione...", ""], ["DNI", "DNI"], ["LE", "LE"], ["LC", "LC"] ] %>
      <%= options_for_select(array) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :documento %><br>
    <%= f.number_field :document %>
  </div>
  <div class="field">
    <%= f.label :cuil_cuit %><br>
    <%= f.text_field :cuil_cuit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'regresar', :back %>