<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de persona:</strong>
  <%= @person.kind_person %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= rellenar(@person.surname) %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @person.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= rellenar(@person.gender) %>
</p>

<p>
  <strong>Kind document:</strong>
  <%= rellenar(@person.kind_document) %>
</p>

<p>
  <strong>Document:</strong>
  <%= rellenar(@person.document) %>
</p>

<p>
  <strong>Cuil cuit:</strong>
  <%= @person.cuil_cuit %>
</p>

<%= link_to 'Editar', edit_person_path(@person) %> |
<%= link_to 'Volver', people_path %>