<p id="notice"><%= notice %></p>

<h1>Lista de Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha de nacimiento</th>
      <th>Genero</th>
      <th>Tipo Documento</th>
      <th>Documento</th>
      <th>Cuil/Cuit</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.birthday %></td>
        <td><%= client.gender %></td>
        <td><%= client.kind_document %></td>
        <td><%= client.document %></td>
        <td><%= client.cuil_cuit %></td>
        <td><%= link_to 'mostrar', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'ver contactos', client_contacts_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'ver facturas', client_invoices_path(client) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', home_path %> | <%= link_to 'Nuevo Cliente', new_client_path %>
