<h1> Infomacion de Contacto </h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @client.birthday %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>tipo de documento:</strong>
  <%= @client.kind_document %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @client.document %>
</p>

<p>
  <strong>Cuil/Cuit:</strong>
  <%= @client.cuil_cuit %>
</p>

<p>
  <strong><%= link_to 'ver contactos', client_contacts_path(@client) %></strong>
</p>

<p>
  <strong><%= link_to 'ver facturas emitidas', client_invoices_path(@client) %></strong>
</p>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Volver', clients_path %>
