<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @client.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @client.kind_document %>
</p>

<p>
  <strong>Document:</strong>
  <%= @client.document %>
</p>

<p>
  <strong>Cuil cuit:</strong>
  <%= @client.cuil_cuit %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
