<h1> Infomacion de Contacto </h1>
<p>
  <%= link_to 'ver contactos', client_contacts_path(@client) %> | <%= link_to 'ver facturas emitidas', client_invoices_path(@client) %>
  <hr>
</p>


<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @client.birthday %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>tipo de documento:</strong>
  <%= @client.kind_document %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @client.document %>
</p>

<p>
  <strong>Cuil/Cuit:</strong>
  <%= @client.cuil_cuit %>
</p>

  <p>
  <strong>Edad:</strong>
  <%= @client.client_age %>
</p>
<hr>
<h2>Facturacion por año:</h2>
  <% @client.fac_per_year.each do | p | %>
    <p> <%= "En el año #{p.year} el cliente facturó #{p.total}" %></p>
  <% end %>
<hr>
<h2>Cantidad de facturas por mes de este año:</h2>
  <% @client.fac_per_mouth.each do | p | %>
    <p> <%= "En el mes #{p.mes} el cliente emitió #{p.total} facturas" %></p>
  <% end %>
<hr>
<h2>Personas a las que mas facturas les facturó:</h2>
  <% @client.count_fac_per_people.each do | p | %>
    <p> <%= "A la persona, #{p.name}, se le facturó #{p.tot_amount} facturas" %></p>
  <% end %>
<hr>
<h2>Personas a las que mas facturó por monto:</h2>
  <% @client.fac_per_people.each do | p | %>
    <p> <%= "A la persona, #{p.name}, se le facturó un total de #{p.sum_amount} pesos"  %></p>
  <% end %>
<hr>
<hr>


<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Volver', clients_path %>
