<h1> Infomacion de Contacto </h1>
<p>
  <strong><%= link_to 'ver contactos', client_contacts_path(@client) %></strong>
</p>

<p>
  <strong><%= link_to 'ver facturas emitidas', client_invoices_path(@client) %></strong>
</p>


<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @client.birthday %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>tipo de documento:</strong>
  <%= @client.kind_document %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @client.document %>
</p>

<p>
  <strong>Cuil/Cuit:</strong>
  <%= @client.cuil_cuit %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @age %>
</p>

<h2>Facturacion por año:</h2>
  <% @invoicing_year.each do | key, value | %>
    <p> <%= "En el año #{key} el cliente facturó #{value}" %></p>
  <% end %>

<h2>Cantidad de facturas por mes de este año:</h2>
  <% @cant_invoices.each do | key, value | %>
    <p> <%= "En el mes #{key} el cliente emitió #{value} facturas" %></p>
  <% end %>

<h2>Personas a las que mas le facturó:</h2>
  <% @cant_person.each do | key, value | %>
    <p> <%= "En el mes #{key.name} el cliente emitió #{value} facturas" %></p>
  <% end %>


<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Volver', clients_path %>
